.navbar{ 
    background-color: #FAF8F1;  
}
.h{
    text-transform: uppercase;
    text-align: center;
   letter-spacing: 15px;
}
.navbar{
    justify-content: center;
    letter-spacing: 5px;
    background-color: #FAF8F1;
    --bs-bg-opacity: #FAF8F1;
}
body{
    background-color: #FAF8F1;
    font-family: 'Comfortaa Bold Alt2';
}
.nav-item{
    text-transform: uppercase;
    letter-spacing: 5px;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid{
    word-spacing: 50px;
}
img{
    width: 412px;
    height: 697px;
    object-fit: cover;
    border-style: solid ;
    border-color: black;
}

header img {
    background-size: cover;
    background-position: center;
    margin-top: auto;
  }
.img-logo{
    height: 10%;
    width: 16%;
    border: none;
    text-align: center;
}
.barra{
    background-color: #FAF8F1;
}
.text-primary {
    color:#90C8AC !important;
  }
.price{
    font-size: 24px;
}
  